@page "/pokemon"
@using MudBlazor
@using koloro.Core.Models
@using koloro.Core.RestClients
@using Excubo.Blazor.Canvas
@using System.Globalization;
@inject HttpClient Http
@inject IJSRuntime js
@inject ILanguageContainerService i18n


<Canvas id="helper_canvas" @ref="helper_canvas" width="@width" height="@(height+25)" hidden />
<img id="img_helper" src="@b64_helper" hidden />

<MudAppBar Style="@($"color:{Colors.Shades.White};background:{Colors.BlueGrey.Lighten5};")" Class="menu_top">
    <MudForm @ref="form" @bind-IsValid="@success">
        <MudGrid>
            <MudItem xs="3">
                <MudTextField @bind-Value="nametofind" Label="@i18n.Keys["Name"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.Mode" AdornmentColor="Color.Dark"></MudTextField>
            </MudItem>
            <MudItem xs="3">
                <MudTextField @bind-Value="offset" Label="@i18n.Keys["Offset"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.FirstPage" AdornmentColor="Color.Dark"></MudTextField>
            </MudItem>
            <MudItem xs="3">
                <MudTextField @bind-Value="limit" Label="@i18n.Keys["Limit"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.ContentCopy" AdornmentColor="Color.Dark"></MudTextField>
            </MudItem>
            <MudItem xs="3">
                <MudSelect @bind-Value="enumValue"
                           OffsetY="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Style" AdornmentColor="Color.Dark">
                    @foreach (StyleArt item in Enum.GetValues(typeof(StyleArt)))
                    {
                        <MudSelectItem Value="@item"><div class="miniFont">@item</div></MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
        </MudGrid>
    </MudForm>
    <MudSpacer></MudSpacer>
    <MudIconButton Icon="fas fa-paper-plane" Color="Color.Dark" OnClick="@(()=>SendForm())"></MudIconButton>

</MudAppBar>
<div class="grid">
    @if (!IsLoading)
    {
        <MudGrid Justify="Justify.Center">

            @foreach (var pokemon in ListPokemonData)
            {

                <MudItem>
                    <MudCard Style="@($"color:{Colors.Grey.Darken4};background:{Colors.Grey.Lighten4};")">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <div class="cardFont">@pokemon.id # @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(pokemon.name)</div>
                            </CardHeaderContent>
                            <CardHeaderActions>
                                <MudIconButton Icon="@Icons.Material.Filled.Link" Color="Color.Default" Target="_blank" Link=@("https://www.pokemon.com/es/pokedex/" + pokemon.name) />
                            </CardHeaderActions>
                        </MudCardHeader>
                        <img id="@pokemon.name" class="cardSize" src=@SelectUrl(pokemon) />
                        <MudCardActions>
                            <MudIconButton Icon="fas fa-tint-slash" OnClick="() => { DownloadImage(pokemon, true).GetAwaiter(); }" Color="Color.Dark" />
                            <MudIconButton Icon="fas fa-save" OnClick="() => { DownloadImage(pokemon, false).GetAwaiter(); }" Color="Color.Error" />
                            <MudIconButton Icon="fas fa-music" OnClick="() => { PlayAudio(pokemon).GetAwaiter(); }" Color="Color.Info" />
                        </MudCardActions>
                    </MudCard>
                </MudItem>

            }

        </MudGrid>
    }
    else
    {
        <MudProgressLinear Style="height: 20px; margin-top: -10px;" Color="Color.Success" Indeterminate="true" />
    }
</div>


@code{

    private bool IsLoading = true;
    private List<PokemonDto> ListPokemonData;
    private List<PokemonDto> AllPokemonData;
    private Canvas helper_canvas;
    private int offset = 0;
    private int limit = 14;
    private int size = 250;
    private double width = 0;
    private double height = 0;
    private string nametofind = string.Empty;
    private MudForm form;
    private bool success;
    private string b64_helper = string.Empty;

    public double saturate = 0;
    public double grayscale = 100;
    public double brightness = 200;
    public double contrast = 1000;

    public enum StyleArt { Official, DreamWorld }
    private StyleArt enumValue { get; set; }

    protected override async Task OnInitializedAsync()
    {
        i18n.InitLocalizedComponent(this);
        await LoadPokemon();
        IsLoading = false;

    }

    private async Task SendForm()
    {
        await LoadPokemon();
        IsLoading = false;
    }

    private async Task LoadPokemon()
    {

        if (AllPokemonData == null || !AllPokemonData.Any())
            AllPokemonData = await Http.GetFromJsonAsync<List<PokemonDto>>("data/pokemon.json");

        if (!string.IsNullOrEmpty(nametofind))
            ListPokemonData = AllPokemonData.Where(x => (x.name.Contains(nametofind, StringComparison.InvariantCultureIgnoreCase) || x.id.ToString().Contains(nametofind, StringComparison.InvariantCultureIgnoreCase)) && x.art.official != null).Take(limit).ToList();
        else
            ListPokemonData = AllPokemonData.Where(x => x.art.official != null).Skip(offset).Take(limit).ToList();

        IsLoading = true;

    }

    private async Task DownloadImage(PokemonDto pokemon, bool blackwhite)
    {
        var url = SelectUrl(pokemon);
        b64_helper = await PokeApiRestClient.UrlToBase64(Http, url);
        var dimensions = (await js.InvokeAsync<string>("sizeImg", b64_helper)).Split("#");
        width = double.Parse(dimensions[0]);
        height = double.Parse(dimensions[1]);

        StateHasChanged();

        await using (var ctx = await helper_canvas.GetContext2DAsync())
        {
            await ctx.ClearRectAsync(0, 0, double.MaxValue, double.MaxValue);
            if (blackwhite)
                await ctx.FilterAsync($"saturate({saturate}%) grayscale({grayscale}%) brightness({brightness}%) contrast({contrast}%)");
            await ctx.DrawImageAsync("img_helper", 0, 0, width, height);
            await ctx.FontAsync("16px Helvetica");
            await ctx.FillTextAsync(pokemon.id + " # " + CultureInfo.CurrentCulture.TextInfo.ToTitleCase(pokemon.name), 0, height + 25);
        }

        StateHasChanged();

        await js.InvokeAsync<object>("saveAsFile", $"{pokemon.id}_{pokemon.name}.png");
    }

    private string SelectUrl(PokemonDto pokemon)
    {
        return pokemon.art.dreamworld != null && enumValue.Equals(StyleArt.DreamWorld) ? pokemon.art.dreamworld : pokemon.art.official;
    }

    private async Task PlayAudio(PokemonDto pokemon)
    {
        var url = $"https://api.triplydb.com/datasets/academy/pokemon/assets/download?fileName={pokemon.name}.ogg";
        await js.InvokeVoidAsync("playSound", url);
    }


}